/**
 * Fonts
 * -------------------------------------------------------------------------- */

 :root {
  --vp-font-family-base: 'Pretendard';
  --vp-font-family-mono: 'Consolas'
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-feature-settings: "rlig" 1, "calt" 1;
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #004482;
  --vp-c-brand-1: #004482;
  --vp-c-brand-light: #00599C;
  --vp-c-brand-lighter: #004482;
  --vp-c-brand-lightest: #004482;
  --vp-c-brand-dark: #004482;
  --vp-c-brand-darker: #004482;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

.dark {
  --vp-c-brand: #00599C;
  --vp-c-brand-1: #00599C;
  --vp-c-brand-light: #004482;
  --vp-c-brand-lighter: #00599C;
  --vp-c-brand-lightest: #00599C;
  --vp-c-brand-dark: #00599C;
  --vp-c-brand-darker: #00599C;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-light);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    0deg,
    #00599C 0%,
    #004482
  );

  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #00599C 50%,
    #004482 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
